* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid var(--red); */
}

:root {
    --yellow: #fbbf24;
    --orange: #f97316;
    --white: #fffbeb;
}

::selection {
    background-color: var(--orange);
    color: var(--white);
}

html {
    background-color: var(--orange);
}

body {
    background-color: var(--yellow);
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--orange);
    height: 100vh;
}

h1, h2, h3 {
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    border-bottom: 3px solid var(--orange);
    padding-bottom: 0.5rem;
}

h3 {
    font-size: 1.2rem;
}

/* Nav */

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 72px;
    z-index: 999;
    border-bottom: 3px solid var(--orange);
}

.nav-logo {
    border-right: 3px solid var(--orange);
}

.nav-logo > img {
    height: 3rem;
}

.nav-links-container {
    list-style: none;
    display: flex;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.nav-logo, .nav-link {
    display: flex;
    align-items: center;
    padding: 0px 1.5rem;
}

.nav-link {
    border-left: 3px solid var(--orange);
}

.nav-link:hover {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}

.banner {
    background-color: var(--orange);
    color: var(--yellow);
    display: grid;
    justify-content: center;
    padding: 0.5rem 0;
}

/* Content */

#content {
    background-color: var(--yellow);
    padding: 48px;
    display: flex;
    justify-content: center;
}

/* HOME PAGE */
.home-page {
    display: grid;
    gap: 4rem;
    height: 100%;
    width: 80%;
}

.hero-section {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(448px, 1fr) );
    gap: 2rem 4rem;
    justify-content: center;
    align-items: center;
}

.hero-logo {
    display: grid;
    justify-content: center;
}

.hero-heading {
    font-size: 4rem;
    line-height: 6rem;
    /* text-align: center; !!!!!!!!!ON MOBILE ONLY!!!!!!! */
}

.hero-heading span {
    border-bottom: 5px solid var(--orange);
}

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-container p {
    margin-top: 0.5rem;
}

#order-btn {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border: 3px solid var(--orange);
    background-color: var(--orange);
    color: var(--white);
    margin-top: 1rem;
}

#order-btn:hover {
    background-color: var(--yellow);
    color: var(--orange);
    cursor: pointer;
}

/* ORDER PAGE */
.menu-page h1, .contact-page h1 {
    margin: 2rem;
}

.menu-page, .contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.menu-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* .menu-section h2, .info-section h2 {
    border-bottom: 3px solid var(--orange);
    padding-bottom: 0.5rem;
} */

.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr min-content;
    row-gap: 0.5rem;
}
.item-title {
    width: 100%;
    display: flex;
}

.item-title::after {
    content: "";
    flex: 1;
    border-bottom: 3px dotted var(--orange);
    /* height: 3px; */
    /* width: 100%; */
}

.item-price {
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.item-description {
    grid-column: 1 / -1;
}

/* Contact Page */

.store-info-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(240px, 1fr) );
  column-gap: 4rem;
  row-gap: 2rem;
  justify-content: center;
  padding-bottom: 4rem;
  width: 100%;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.day-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.map {
    width: 100%;
    height: 592px;
    display: flex;
    justify-content: center;
}

.map iframe {
    width: 100%;
    height: 100%;
}




/* Footer */

